.container{
    --btn-height:36px;
    --icon-size:24px;
    --horizon-padding:10px;
    --btn-margin:8px;
    --btn-radius:2px;

    display:flex;
    position:relative;
    background:var(--hx-ia-bgcolor,var(--hx-global-bgcolor));
    color:var(--hx-ia-fgcolor,var(--hx-global-fgcolor));
    border:none;
    box-shadow:0 0 4px var(--hx-ia-act-color,var(--hx-global-theme-secondary-color));
    transition:box-shadow 0.2s,border 0.2s;
    border-radius:var(--btn-radius);
    padding:0 var(--horizon-padding);
    margin:var(--btn-margin);
    line-height: var(--btn-height);
    background-color:var(--hx-button-bgcolor,var(--hx-global-theme-main-color));
    color:var(--hx-button-fgcolor,var(--hx-global-theme-fgcolor));
    align-items:center;
    flex-direction:var(--hx-button-dir);
    user-select: none;
}
.container>.icon-elem{
    width:var(--icon-size);
    height:var(--icon-size);
}
.container>.title-elem{
    font:16px;
}
.container.flat{
    box-shadow:none;
}
.container.inline{
    display: inline-flex;
}
.container.icon{
    padding: calc((var(--btn-height) - var(--icon-size)) / 2);
}
.container.icon>.title-elem{
    display: none;
}
.container.rounded{
    border-radius: var(--btn-height);
}
@media(min-width:800px){
    .container:hover{
        box-shadow:0 0 8px 1px var(--hx-ia-act-color,var(--hx-global-theme-secondary-color));
    }
}
.container:active{
    box-shadow:0 0 4px 1px var(--hx-ia-act-color,var(--hx-global-theme-secondary-color));
}